.DS_Store
node_modules
/dist
/.firebase
/src/config.js
/src/firebase-config.js
/public/firebase-messaging-sw.js
.jshintrc

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/tokens.js